# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Datasets
datasets/
data/raw/
data/interim/
*.tif
*.tiff
*.hdf
*.h5
*.nc
*.npz
*.zip

# Temporary folders
tmp/
scratch/
